<h1><%= team %></h1>

<table>
  <tr>
    <th>Team</th>
    <th>Wins</th>
    <th>Loses</th>
  </tr>
  <tr>
  <td><%= team %></td>
  <td><%= record[0] %></td>
  <td><%= record[1] %></td>
</tr>

</table>


<br>
<a href="/">Back to Homepage</a>
