<h1>NFL Game Time!</h1>


<a href="/leaderboard" class = "leaderboard">Leaderboard</a>


<h3>Teams</h3>
<ul>
  <% teams.each do |team| %>
  <li><a href="/<%= team %>" class = "team_list"><%= team %></a></li>
  <% end %>
  </ul>
