body {
  background-color: #FAF0E6;

}

h1{
  font-size: 36pt;
}

h3{
  font-size: 28pt;
}

table {
    border-collapse: collapse;
    width: 25%;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 20px;
    padding: 15px;
    background-color: black;
    color: white;
}

td {
    text-align: center;
    padding: 15px;
    background-color: white;
    font-weight: bold;
}

.team {
  color:black;
  font-weight: bold;
  font-size: 1.2em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #FF0000;
    text-decoration: underline;
}

.back_button {
  color: black;
  font-weight: bold;
}

.leaderboard {
  font-size: 24pt;
  font-weight: bold;
}

.Patriots {
  background-color: #0000B8;
}

.Colts {
  background-color: #A9A9A9;
}

.Broncos {
  background-color: #FFA76C;
}

.Steelers{
  background-color: #E6E600;
}

.team_list{
  font-size: 1.5em;
}
